.bg-left:after {
    background: url("https://picsum.photos/1920/1080");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 50vw;
    position: absolute;
    height: 100%;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    z-index: -1;
}
